.entry-content .wp-block-button {

	.wp-block-button__link, .pushbutton-wide {
		background-color: $wcbrs-pink;
		color: $wcbrs-darkgrey;
		min-width: 216px;
		min-height: 35px;
		font-size: $base-fontsize-mobile;
		line-height: $base-lineheight-mobile;
		
		&:hover {
			background-color: $wcbrs-green;
			color: $wcbrs-darkgrey;
			font-weight: bold;
		}

		@include media-breakpoint-up(sm) {
			font-size: $base-fontsize-desktop;
			line-height: $base-lineheight-desktop;
		}
	}
}