.entry-content .wp-block-button,
.contact-submit,
.widget_blog_subscription {

	.wp-block-button__link, 
	input[type="submit"] {
		background-color: $wcbrs-pink;
		color: $wcbrs-darkgrey;
		min-width: 216px;
		min-height: 35px;
		font-size: $base-fontsize-mobile;
		line-height: $base-lineheight-mobile;
		border-radius: 28px;
		padding: 0.7em 2em;
		transition:none;
		font-family: $base-font-family;
		
		&:hover {
			@include wcbrs-gradient;
			color: $wcbrs-darkgrey;
			font-weight: bold;
			transition:none;
		}

		@include media-breakpoint-up(sm) {
			font-size: $base-fontsize-desktop;
			line-height: $base-lineheight-desktop;
		}
	}
}