.site-footer {
	background-color: $wcbrs-darkgrey;
	color: white;
	font-size: $base-fontsize-mobile;
	line-height: $base-lineheight-mobile;

	@include media-breakpoint-up(md) {
		font-size: $base-fontsize-desktop;
		line-height: $base-lineheight-desktop;
	}


	h2.widget-title {
		color: $wcbrs-green;
		font-size: $base-fontsize-mobile;
		line-height: $base-lineheight-mobile;
		letter-spacing: 0;
		text-transform: none;

		@include media-breakpoint-up(md) {
			font-size: $base-fontsize-desktop;
			line-height: $base-lineheight-desktop;
		}
	}
}