.navigation-top {
	background-color: $wcbrs-darkgrey;

	.current-menu-item > a, 
	.current_page_item > a {
		color: $wcbrs-green;
	}
}

.main-navigation {

	.menu-item {
		font-size: $base-fontsize-mobile;
		line-height: $base-lineheight-mobile;
		border: 0;

		a {
			color: white;
			padding-left: 0.75em;
			padding-right: 0.75em;
		}

		a:hover {
			color: $wcbrs-green;
		}
	}

	.sub-menu {
		background-color: $wcbrs-blue;

		li:hover {
			background-color: $wcbrs-blue;
		}

		.menu-item a:hover {
			color: white;
			padding-left: 40px;
		}

	}
}

/* MOBILE MENU STUFF */
.menu-toggle {
	color: $wcbrs-green;
}

.dropdown-toggle {
	color: white;
}

.menu-main-menu-container {

	ul {
		background-color: $wcbrs-darkgrey;
	}

	.sub-menu {
		background-color: $wcbrs-darkgrey;
		
		li:hover {
			background-color: $wcbrs-darkgrey;
		}
	}
}
	
// Move nav to top
@include media-breakpoint-up(sm) {
	.navigation-top {
		position: fixed!important; // fixed for sticky, absolute to scroll
		top: 0px;
		width: 100%;
		height: 70px;
		// Shift nav down if admin bar (dashboard) is present
		.admin-bar &{
			top: 32px;
		}
	}
}