.wcpt-schedule {
	.fav-session-button {
		box-shadow: none;
	}

	tr {
		border: 0;
	}

	th.wcpt-col-time {
		
		width: 20%;
	}

	th.wcpt-col-track {
		width: 40%;
	}
}

.wcpt-session-type-session::before {
	color: $wcbrs-blue;
	border: 0;
}

a.wcpt-session-title {
	display: inline-block;
	box-shadow: none !important;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.wcpt-schedule .dashicons {
	position: absolute;
}