.wcpt-schedule {
	.fav-session-button {
		box-shadow: none;
	}

	tr {
		border: 0;
	}
}

.wcpt-session-type-session::before {
	color: $wcbrs-blue;
	border: 0;
}

.wcpt-session-title {
	display: inline-block;
	box-shadow: none;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}