.site-branding {

	.home & {
		@include media-breakpoint-up(md) {
			margin-bottom: 300px;
		}
	}

	.wrap {
		text-align: center;
	}
}

.custom-logo-link {
	text-align: center;
	padding: 0;

	img {
		max-height: 250px;
		max-width: 250px;
		width: 100%;
	}
}