table,
.wp-block-table,
.wcpt-schedule {
	tr {
		border-bottom: 0 !important;
	}

	td, td:first-child {
		background-color: $wcbrs-lightgrey;
		padding: 7px 10px;
		border-right: 5px solid white !important;
		font-size: $base-fontsize-mobile;
		text-align: center;

		&:last-child {
			border-right: 0;
		}
	}

	td:first-child {
		text-align: left;
		font-weight: bold;
	}

	thead {
		th, td {
			color: $wcbrs-blue;
		}
	}
}