.tix-ticket-excerpt {
	font-weight: normal;
}


.tix-order-summary,
.tix-attendee-form {
	th, td,
	td:first-child {
		background-color: white;
		text-align: left;
	}
}

.tix-attendee-form {
	td {
		padding: 10px 0;
		font-weight: normal;
	}
}