#secondary {
	font-size: $base-fontsize-mobile;
	line-height: $base-lineheight-mobile;
	
	@include media-breakpoint-up(md) {
		font-size: $base-fontsize-desktop;
		line-height: $base-lineheight-desktop;
	}
}

.widget {
	color: white;
	padding: 20px;
	margin-bottom: 40px;
	border-radius: 10px;

	&:last-of-type {
		margin-bottom: 0;
	}

	a {
		color: white;
		box-shadow: none;
		text-decoration: underline;

		&:hover {
			box-shadow: none;
			text-decoration: none;
			color: white;
		}
	}
}

h2.widget-title {
	color: white;
	letter-spacing: 0;
	text-transform: none;
	font-size: $base-fontsize-mobile;
	line-height: $base-lineheight-mobile;
	background-color: black;
	
	@include media-breakpoint-up(md) {
		font-size: $base-fontsize-desktop;
		line-height: $base-lineheight-desktop;
	}
}

.widget ul li a, 
.site-footer .widget-area ul li a {
	box-shadow: none;
	text-decoration: none;

}

/* JETPACK SOCIAL ICONS WIDGET */
.jetpack_widget_social_icons {

	a {

	}

	svg {
		color: white;

		&:hover {
			color: $wcbrs-pink;
		}
	}
}
