#secondary {
	font-size: $base-fontsize-mobile;
	line-height: $base-lineheight-mobile;
	
	@include media-breakpoint-up(md) {
		font-size: $base-fontsize-desktop;
		line-height: $base-lineheight-desktop;
	}
}

.widget {
	background-color: $wcbrs-darkgrey;
	color: white;
	padding: 20px;
	margin-bottom: 40px;
	border-radius: 10px;
}

h2.widget-title {
	color: white;
	letter-spacing: 0;
	text-transform: none;
	font-size: $base-fontsize-mobile;
	line-height: $base-lineheight-mobile;
	
	@include media-breakpoint-up(md) {
		font-size: $base-fontsize-desktop;
		line-height: $base-lineheight-desktop;
	}
}

.widget-text {

}