@mixin wcbrs-gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f06dc5+0,84fab0+100 */
	background: #f06dc5; /* Old browsers */
	background: -moz-linear-gradient(left, #f06dc5 0%, #84fab0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f06dc5 0%,#84fab0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f06dc5 0%,#84fab0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f06dc5', endColorstr='#84fab0',GradientType=1 ); /* IE6-9 */
}

@mixin force-full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}