/**
* FONT SIZES
 */

// Base font sizes
$base-fontsize-mobile: 16px;
$base-lineheight-mobile: 19px;

$base-fontsize-desktop: 18px;
$base-lineheight-desktop: 24px;


// Use H1 for page titles
$h1-fontsize-mobile: 30px;
$h1-lineheight-mobile: 36px;

$h1-fontsize-desktop: 42px;
$h1-lineheight-desktop: 48px;


// Use H2 for post titles
$h2-fontsize-mobile: 27px;
$h2-lineheight-mobile: 31px;

$h2-fontsize-desktop: 36px;
$h2-lineheight-desktop: 42px;


// Use H3 for subtitles
$h3-fontsize-mobile: 18px;
$h3-lineheight-mobile: 22px;

$h3-fontsize-desktop: 24px;
$h3-lineheight-desktop: 30px;


$h4-fontsize-mobile: 16px;
$h4-lineheight-mobile: 19px;
$h4-fontsize-desktop: 14px;
$h4-lineheight-desktop: 20px;

$h5-fontsize: 14px;
$h5-lineheight: 20px;
