/**
* COLOUR PALETTE
 */

$wcbrs-darkgrey: #262626;
$wcbrs-green:    #84FAB0;
$wcbrs-pink:     #F06DC5;
$wcbrs-blue:     #0087FF;


/**
* BESPOKE BOOSTRAP GRID
 */

$grid-breakpoints: (
	xs: 480px, // 30em
	sm: 768px, // 48em
	md: 1072px, // 67em
	lg: 1264px // 79em
);
