.twentyseventeen-front-page {
	.site-content-contain {
		background-color: $wcbrs-darkgrey;
	}

	.panel-content .wrap {
		max-width: 900px;
		padding-bottom: 0;
	}

	h3, h4,
	.entry-content p {
		color: white;
	}

	.entry-content a,
	.entry-content a img {
		box-shadow: none;
	}

	.sponsor-image {
		a {
			-webkit-box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
			box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
		}
	}
}

.wp-block-columns {
	justify-content: center;
	align-items: center;
}

.wp-block-column {
	margin-top: 30px;

}

.home-button-block {
	.wp-block-image {
		margin-bottom: 0;

		img {
			max-width: 250px;

			@include media-breakpoint-up(sm) {
				max-width: 100%;
			}
		}
	}

	.wp-block-button .wp-block-button__link {
		padding: 0.4em 1em;
		margin-top: 0;
		min-width: 200px;
		position: relative;
		top: -75px;

		@include media-breakpoint-up(md) {
			top: -60px;
		}
	}
}

