.single-wcb_session {
	.session-speakers,
	#session-speaker-names {
		display: none;
	}

	.entry-content > h2 {
		a {
			box-shadow: none;
			color: $wcbrs-blue;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}